* {
  box-sizing: border-box;
  margin: 0;
  padding: 0:
}

body {
  font-family: Arial, sans-serif;
}

/* -----------Modal--------------- */
#modal {
  display: none;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-close {
  float: right;
  cursor: pointer;
}
  

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*----------Header + Navbar----------*/
header {
  background-color: royalblue;
  color: white;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

h1 {
  font-size: 17px;
}

nav {
  display: flex;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-left: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center;
}

nav a:hover {
  background-color: rgb(41, 69, 153);
}

/*----------Sidebar----------*/
.content-wrapper {
  display: flex;
  flex: 1;
}

aside {
  background-color: white;
  padding: 1rem;
  width: 25%;
  min-width: 200px;
  max-width: 300px;
}

.sidebarcontainer {
  position: fixed;
  top: 80px;
  background: white;
  margin-top: 0.3rem;
  margin-right: 1rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.categorydropbtn {
  background-color: royalblue;
  color: black;
  padding: 10px;
  margin-top: 0.3rem;
  margin-right: 1rem;
  border: none;
  color: white;
}

.Categorydropdown {
  position: relative;
  display: inline-block;
}

.category-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  padding: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

input[type="text"] {
  padding: 5px;
  margin: 10px;
  display: inline-block;
}

button {
  padding: 5px;
  margin: 10px;
  display: inline-block;
  width: 100%;
}

.searchbutton{
  width: 60px;
}

/*----------Main Content----------*/
main {
  background-color: #fff;
  padding: 1rem;
  margin-top: 80px;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "content1 content2 content3"
    "content4 content4 content4"
    "content5 content6 content6"
    "content7 content7 content8"
    "content9 content9 content9";
  gap: 1rem;
}

.content {
  background-color: #e4e4e4;
  padding: 1rem;
  text-align: center;
  border: 1px solid #ccc;
}

.content1 {
  grid-area: content1;
}

.content2 {
  grid-area: content2;
}

.content3 {
  grid-area: content3;
}

.content4 {
  grid-area: content4;
}

.content5 {
  grid-area: content5;
}

.content6 {
  grid-area: content6;
}

.content7 {
  grid-area: content7;
}

.content8 {
  grid-area: content8;
}

.content9 {
  grid-area: content9;
}

/*----------footer----------*/
footer {
  background-color: royalblue;
  color: white;
  text-align: center;
  padding: 1rem;
}
/* End footer */

/* ------------------Responsif-------------------- */
@media (max-width: 1200px) {
  aside {
    width: 20%;
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "content1 content2"
      "content3 content3"
      "content4 content4"
      "content5 content6"
      "content7 content8";
  }
}

@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  aside {
    width: 100%;
    order: 1;
    height: auto; /* Ensure height adjusts to content */
  }

  .sidebarcontainer {
     display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  main {
    order: 2;
    grid-template-columns: 1fr;
    grid-template-areas:
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "content6"
      "content7"
      "content8";
  }
}

@media (max-width: 480px) {
  header {
    text-align: center;
    flex-direction: column;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  nav ul li {
    margin-bottom: 0.5rem;
  }

  main {
    padding: 0.5rem;
  }

  .content {
    padding: 0.5rem;
  }

  footer {
    padding: 0.5rem;
  }
}
/* --------Responsif end----------- */

.Statedropdown {
  position: relative;
  display: inline-block;
}

#StateSearch {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
}

.state-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.state-dropdown-content label {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.state-dropdown-content label:hover {
  background-color: #ddd;
}

.show {
  display: block; /* Show the content when open */
  max-height: 300px; /* Set maximum height for scrolling */
  overflow-y: auto; /* Enable vertical scroll */
}


.checkbox{
  display: none;
  margin-top: 10px;
  padding: 10px;
  border-color: 1px solid black;
}

/* -----------------Dropdown Year-------------- */
.dropdown-container-year {
  position: relative;
  display: inline-block;
}
.dropdown-content-year {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown-container-year.active .dropdown-content-year {
  display: block;
}
.submit-button {
  margin-top: 10px;
}
/* ------------------------------------------------ */
