body {
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows:  0.5fr 0.4fr 1.5fr 1.5fr 1.5fr 40px;
    height: 100vh;
    grid-template-areas:
      "header header header header"
      "sidebar navigation navigation navigation"
      "sidebar main-content main-content main-content"
      "sidebar content1 content2 content2"
      "sidebar content3 content3 content4"
      "sidebar footer footer footer";
    grid-gap: 0.2rem
}

/*----------Header----------*/
header{
  background: royalblue;
  grid-area: header;
}

/*----------Navigation----------*/
.navigation {
    background: rgb(173, 136, 198);
  grid-area: navigation;
}

/*----------Sidebar----------*/
#sidebar {
  background: grey;
  grid-area: sidebar;
}

/*----------Main Content----------*/
.main-content {
  background: beige;
  grid-area: main-content;
}

#content1{
  background: beige;
  grid-area: content1;
}

#content2{
  background: beige;
  grid-area: content2;
}

#content3{
  background: beige;
  grid-area: content3;
}

#content4{
  background: beige;
  grid-area: content4;
}

/*----------footer----------*/
footer {
    background: rgb(173, 136, 198);
  grid-area: footer;
}


@media only screen and (max-width:550px){
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.8fr 2.2fr 1.2fr 1.2fr 1.2fr 1.2fr 0.3fr;
    grid-template-areas:
      "header"
      "navigation"
      "sidebar"
      "main-content"
      "content1"
      "content2"
      "content3"
      "content4"
      "footer"
  }
  
}